@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  padding-top: 5rem;
}

.navbar {
  margin: auto;
  background-color: #FFFFFF !important;
  height: 115px;
  width: 90vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .projbutton a {
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #2D2D2D;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}


.projbutton {
  position: relative;
  width: 88px;
  height: 30px;
  margin-right: 5vw;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D2D2D;
}

.navbar-brand {
  position: relative;
  margin-left: 5vw;
  background-image: url('../ecoIcons/Логотип\ \(light\).svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 264px; 
  height: 70px;
}
.starter-template {
  /* padding: 3rem 1.5rem; */
  text-align: center;
}

.cards {
  justify-content: center;
}

h5 a {
  text-decoration: none;
  color: #2D2D2D;
}

.card-title {
  margin-top: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D2D2D;
}

.row {
  max-width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  display: flex !important;
  justify-content: center !important;
}

.card-text-title {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #333;
}

.card-text-value {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #666;
}

.card-link {
  margin-right: 20px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  background: #FFFFFF;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  position: absolute;
  right: 10px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  line-height: 24px;
  text-align: center;
  color: #2D2D2D;
  text-decoration: none;
}

.link-inline {
  display: none;
}

.card-link:hover {
  background: #EFEFEF;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.card {
  flex: 0 0 calc(25% - 20px);
  margin: 10px;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 2px 2px #E8E9ED;
  border-radius: 10p;
  width: 90vw;
  height: 166px;
}

.prices {
  display: flex;
}

/* SEARCH FORM */
.wrapper {
  margin-top: 100px !important;
  margin-bottom: 60px;
  display: flex !important;
  width: 90vw;
  height: 150px;
  margin: 10px auto;
  border: 1px solid #E5E5E9;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  border-image: linear-gradient(86.99deg, #14D563 7.59%, #FFCF23 100.26%) 1;
  border-radius: 5px;
  border-image-slice: 1;
  border-style: solid;
}

.forma {
  display: flex;
  justify-content: center;
  margin-top: 17px;
  margin-left: auto;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #333;
  flex: 1;
}

.forma input[type="text"] {
  width: 20vw;
  height: 70px;
  margin-left: 5px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 40px;
  color: rgba(45, 45, 45, 0.7);
  margin-right: 20px;
}

.forma input[type="text"]::placeholder {
  color: rgba(45, 45, 45, 0.7);
}

.forma input[type="text"]:focus {
  border: 1px solid #14D563;
  outline: none;
}

.input {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #666;
  flex: 3;
}

.btn {
  width: 166px;
  height: 55px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #14D563;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.submit:hover {
  background: #0f9b4b;
}

.forma select {
  height: 70px;
  /* padding: 11px; */
  background: #FAFAFA;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #2D2D2D;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 45px;
}

#search-label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
}

#adaptive-button {
  display: none;
}

.empty-list {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 763px) {
  .navbar {
    width: 380px;
    height: auto;
  }

  .navbar-brand {
    position: relative;
    margin-left: -60px;
    background-image: url('../ecoIcons/Логотип\ \(light\).svg');
    transform: scale(0.5);
    background-repeat: no-repeat;
    background-position: center left;
  }

  .navbar .projbutton a {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #2D2D2D;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }

  .projbutton {
    position: relative;
    width: 88px;
    height: 30px;
    margin-right: -25px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #2D2D2D;
  }
  .row {
    width: 380px;
    margin-right: auto;
    margin-left: auto;
  }

  .card {
    width: 380px;
    height: 190px;
    /* margin: 2px 10px; */
  }

  .card-body {
    /* padding: 10px; */
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
  }

  .info-column {
    padding: 0;
  }

  .card-title {
    display: flex;
    justify-content: center;
    width: 322px;
    margin: 0 auto;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #2D2D2D;
  }

  .card-text-value {
    display: flex;
    justify-content: center;
  }

  .card-text-title {
    color: rgba(45, 45, 45, 0.70);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 0;
    margin-bottom: 4px;
  }

  .parse-date {
    color: #2D2D2D;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 4px;
  }

  .city {
    display: none;
  }

  .prices {
    display: flex;
    width: 280px;
    justify-content: center;
    padding: 0 20px;
  }

  .price {
    color: #2D2D2D;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .price-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 6px;
  }

  .card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0 auto;
    margin-left: 95px;
    width: 200px;
    height: 40px;
  }

  /* SEARCH FORM RESPONSIVE */
  .wrapper {
    display: flex !important;
    flex-direction: column;
    width: 380px;
    height: 120px;
    margin-top: 20px !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }

  .forma {
    display: flex;
    flex-direction: column-reverse;
    width: 322px;
    margin-top: 17px;
    margin-left: 0px;
  }

  .forma input[type="text"] {
    width: 300px;
    height: 70px;
  }

  label,
  #search-label {
    display: none;
  }

  .selection {
    display: flex;
    flex-direction: row;
  }

  #id_sort_by {
    padding: auto;
    margin: 0 3px;
    height: 40px;
    width: 134px;
    color: rgba(45, 45, 45, 0.70);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
  }

  #id_reverse_order {
    margin: 0 3px;
    height: 40px;
    width: 116px;
    padding: auto;
    color: rgba(45, 45, 45, 0.70);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
  }

  #adaptive-button {
    display: flex;
    margin: 0 3px;
    height: 40px;
    width: 46px;
    align-items: center;
    justify-content: center;
  }

  #id_search {
    margin: 0 3px;
    height: 40px;
    width: 313px;
    padding: auto;
    color: rgba(45, 45, 45, 0.70);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
  }

  #large-submit {
    display: none;
  }

  .link-inline {
    display: none;
  }
}

@media only screen and (min-width: 764px) and (max-width: 1300px) {
  .navbar {
    margin: auto;
    background-color: #FFFFFF !important;
    height: 115px;
    width: 90vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .navbar-brand {
    position: relative;
    background-image: url('../ecoIcons/Логотип\ \(light\).svg');
    transform: scale(0.7);
    background-repeat: no-repeat;
    background-position: center left;
  }

  .navbar .projbutton a {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #2D2D2D;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }

  .projbutton {
    position: relative;
    width: 88px;
    height: 30px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #2D2D2D;
  }

  .cards {
    justify-content: center;
  }

  h5 a {
    text-decoration: none;
    color: #2D2D2D;
  }

  .card-title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D2D2D;

  }

  .row {
    display: flex !important;
    justify-content: center !important;
  }

  .info-column {
    display: flex;
    flex-direction: column;
    min-width: 95vw;
    justify-content: center;
  }

  .card-text-title {
    display: flex;
    justify-content: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #333;
  }

  .card-text-value {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #666;
    text-align: center;
  }

  .link-inline {
    margin-right: 20px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2D2D2D;
    text-decoration: none;
  }

  .card-link {
    display: none;
  }

  .card-link:hover {
    background: #EFEFEF;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
  }

  .card {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 2px 2px #E8E9ED;
    border-radius: 10px;
    width: 90vw;
    height: 166px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 5px;
  }

  .prices {
    display: flex;
  }

  .city {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
  }

  .price-title {
    min-width: 8em;
  }

  .wrapper {
    display: flex !important;
    flex-direction: column;
    width: 90vw;
    height: 80px;
    margin-top: 60px !important;
    padding-top: 0;
  }

  .forma {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 748px;
    margin-top: 17px;
    margin-left: 0px;
  }

  .forma input[type="text"] {
    width: 300px;
    height: 70px;
  }

  label,
  #search-label {
    display: none;
  }

  .selection {
    display: flex;
    flex-direction: row;
  }

  #id_sort_by {
    padding: auto;
    margin: 0 3px;
    height: 40px;
    width: 134px;
    color: rgba(45, 45, 45, 0.70);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
  }

  #id_reverse_order {
    margin: 0 3px;
    height: 40px;
    width: 116px;
    padding: auto;
    color: rgba(45, 45, 45, 0.70);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
  }

  #adaptive-button {
    display: flex;
    margin: 0 3px;
    height: 40px;
    width: 46px;
    align-items: center;
    justify-content: center;
  }

  #id_search {
    margin: 0 3px;
    height: 40px;
    width: 25vw;
    padding: auto;
    color: rgba(45, 45, 45, 0.70);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
  }

  #large-submit {
    display: none;
  }
}