@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    background-color: #FFFFFF !important;
    height: 120px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .projbutton a {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #2D2D2D;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.links {
    display: flex;
    width: 176px;
    margin-left: auto;
    margin-right: 130px;
    justify-content: space-between;
}

.navbar-brand {
    margin-left: 130px;
}

.projbutton {
    width: 88px;
    height: 30px;
    margin: 0px 12px 0px 12px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2D2D2D;
}

.logo {
    width: 264px;
    height: 72px;
}

@media only screen and (max-width: 360px) {
    .logo {
        display: flex;
        justify-content: center;
        margin-top: -30px;
        width: 100%;
    }

    .navbar {
        height: 100px;
    }

    .navbar-brand {
        margin: 10px;
        justify-content: center;
    }

    .links {
        display: flex;
        width: 360px;
        margin: -20px auto 0px auto;
        justify-content: center;
        align-items: center;
    }

    .projbutton {
        margin-right: auto;
    }

    .navbar .projbutton a {
        font-size: 16px;
    }
}