{% load static %}
<div class="about-section">
    <h1>О нас</h1>
    <p>На нашем сайте вы найдете самое выгодное предложение!</p>
    <p></p>
  </div>
  
  <h2 style="text-align:center">Наша команда</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{% static 'pictures/photo_2019-07-03_20-05-26.jpg' %}" alt="Aleksey" style="width:15%">
        <div class="container">
          <h2>Алексей</h2>
          <p class="title">Разработчик & Помощник о:</p>
          <p>Организую разработку веб и мобильных приложений повышенной сложности.</p>
          <a href="https://t.me/arezvov">https://t.me/arezvov</a>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="{% static 'pictures/photo_2022-02-02_21-56-33.jpg' %}" alt="Maria" style="width:15%">
        <div class="container">
          <h2>Мария</h2>
          <p class="title">Главный разработчик</p>
          <p>Учусь в 7 классе, пока не организую разработку(</p>
          <p>rezvmaria@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
