{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/about-us.css' %}" > 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container">
    <div class="row row-centered">
      <h1 id="page-title">Наша Команда</h1>
    </div>
    <div class="row row-justified">
        <!-- Employee 1 -->
        <a href="#" class="employee-link">
          <div class="col-md-3">
              <div class="employee-card">
                  <div class="employee-photo">
                      <img src="{% static 'pictures/stock-employee-male-with-background.png' %}" alt="Employee 1">
                  </div>
                  <div class="card-text">
                    <div class="employee-name">John Doe</div>
                    <div class="job-title">Software Engineer</div>
                  </div>
              </div>
          </div>
        </a>
        <!-- Employee 2 -->
        <a href="#" class="employee-link">
          <div class="col-md-3">
              <div class="employee-card">
                  <div class="employee-photo">
                      <img src="{% static 'pictures/stock-employee-with-background.png' %}" alt="Employee 2">
                  </div>
                  <div class="card-text">
                    <div class="employee-name">John Doe</div>
                    <div class="job-title">Software Engineer</div>
                  </div>
              </div>
          </div>
        </a>
        <!-- Employee 3 -->
        <a href="#" class="employee-link">
        <div class="col-md-3">
            <div class="employee-card">
                <div class="employee-photo">
                    <img src="{% static 'pictures/no-photo-employee-male-with-backgroud.png' %}" alt="Employee 3">
                </div>
                <div class="card-text">
                  <div class="employee-name">John Doe</div>
                  <div class="job-title">Software Engineer</div>
                </div>
            </div>
        </div>
        </a>
        <!-- Employee 4 -->
        <a href="#" class="employee-link">
          <div class="col-md-3">
              <div class="employee-card">
                  <div class="employee-photo">
                      <img src="{% static 'pictures/no-photo-employee-female-with-backgroud.png' %}" alt="Employee 4">
                  </div>
                  <div class="card-text">
                    <div class="employee-name">John Doe</div>
                    <div class="job-title">Software Engineer</div>
                  </div>
              </div>
          </div>
        </a>
        <!-- Employee 5 -->
        <a href="#" class="employee-link">
          <div class="col-md-3">
              <div class="employee-card">
                  <div class="employee-photo">
                      <img src="{% static 'pictures/no-photo-employee-female-with-backgroud.png' %}" alt="Employee 5">
                  </div>
                  <div class="card-text">
                    <div class="employee-name">John Doe</div>
                    <div class="job-title">Software Engineer</div>
                  </div>
              </div>
          </div>
        </a>
        <!-- Employee 6 -->
        <a href="#" class="employee-link">
          <div class="col-md-3">
              <div class="employee-card">
                  <div class="employee-photo">
                      <img src="{% static 'pictures/george-carlin.png' %}" alt="Employee 6">
                  </div>
                  <div class="card-text">
                    <div class="employee-name">John Doe</div>
                    <div class="job-title">Software Engineer</div>
                  </div>
              </div>
          </div>
        </a>
        <!-- Employee 7 -->
        <a href="#" class="employee-link">
          <div class="col-md-3">
              <div class="employee-card">
                  <div class="employee-photo">
                      <img src="{% static 'pictures/erlich-bachman.png' %}" alt="Employee 7">
                  </div>
                  <div class="card-text">
                    <div class="employee-name">John Doe</div>
                    <div class="job-title">Software Engineer</div>
                  </div>
              </div>
          </div>
        </a>
        <!-- Employee 8 -->
        <a href="#" class="employee-link">
          <div class="col-md-3">
              <div class="employee-card">
                  <div class="employee-photo">
                      <img src="{% static 'pictures/no-photo-employee-male-with-backgroud.png' %}" alt="Employee 8">
                  </div>
                  <div class="card-text">
                    <div class="employee-name">John Doe</div>
                    <div class="job-title">Software Engineer</div>
                  </div>
              </div>
          </div>
        </a>
        <!-- Employee 9 -->
        <a href="#" class="employee-link">
          <div class="col-md-3">
              <div class="employee-card">
                  <div class="employee-photo">
                      <img src="{% static 'pictures/bertram_gilfoyle.jpg' %}" alt="Employee 1">
                  </div>
                  <div class="card-text">
                    <div class="employee-name">John Doe</div>
                    <div class="job-title">Software Engineer</div>
                  </div>
              </div>
          </div>
        </a>
        <!-- Join -->
        <a href="#" id="join-link">
          <div class="col-md-3">
              <div id="join-card">
                  <div id="join-gradient">
                      <span>Присоединяйся</span>
                  </div>
              </div>
          </div>
        </a>
    </div>
</div>

{% endblock %}
