{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/about-us.css' %}" >

<div class="container">
    <div class="row row-centered">
      <h1 id="page-title">Наша Команда</h1>
    </div>
    <div class="row row-justified">
        <!-- Team -->
        {% for member in team_members %}
        <a href="{{ member.get_contact_url }}" class="employee-link">
          <div class="col-md-3">
              <div class="employee-card">
                  <div class="employee-photo">
                      <img src="{% get_media_prefix %}{{member.get_avatar}}" alt="{{member.name}}">
                  </div>
                  <div class="card-text">
                    <div class="employee-name">{{member.name}}</div>
                    <div class="job-title">{{member.title}}</div>
                  </div>
              </div>
          </div>
        </a>
        {% endfor %}

        <!-- Join -->
        <button class="modal-btn" id="join-link">
          <div class="col-md-3">
              <div id="join-card">
                  <div id="join-gradient">
                      <span>Присоединяйся</span>
                  </div>
              </div>
          </div>
        </button>
    </div>
</div>

{% include 'contact-form.html' %}

{% endblock %}
