<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

<div class="wrapper">
    <form class="forma mb-3" action="{% url 'registrator_list' %}" method="post">
        {% csrf_token %}
        <label for="id_search" id="search-label">{{form.search.label}}</label>
        {{form.search}}
        <div class="selection">
          <label for="id_sort_by">{{form.sort_by.label}}</label>
          {{form.sort_by}}

          <label for="id_reverse_order">{{form.reverse_order.label}}</label>
          {{form.reverse_order}}
        </div>

        
        <input id="large-submit" class="btn btn-primary ml-2" type="submit" value="Показать">
    </form>
</div>