<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

<div class="wrapper-whois">
    <form class="forma-whois mb-3" action="{% url 'registrator_list' %}" method="post">
        {% csrf_token %}
        {{ domain_lookup_form.domain.label }}
        {{ domain_lookup_form.domain }}
        <input class="btn btn-primary ml-2" type="submit" name="whois_sub" value="Проверить">
        {% if messages %}
            <ul class="messages" style="list-style-type: none;">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </form>

</div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.wrapper-whois {
    margin-top: 20px !important;
    display: flex !important;
    width: 1730px;
    margin: 10px auto; 
    padding: 20px;
    align-items: center;  
}

.forma-whois {
    margin-top: 17px;
    margin-left: 600px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    flex: 1;
}

.forma-whois input[type="text"] {
    width: 600px;
    height: 70px;
    margin-left: 5px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-left: 40px;
    color: rgba(45, 45, 45, 0.7);
    margin-right: 20px;
}

.forma-whois input[type="text"]::placeholder {
    color: rgba(45, 45, 45, 0.7);
}

.forma-whois input[type="text"]:focus {
    border: 1px solid #14D563;
    outline: none;
}


.input {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #666;
    flex: 3;
}

.btn {
    width: 166px;
    height: 55px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #14D563;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.submit:hover {
    background: #0f9b4b;
}

.forma select {
    height: 70px;
    padding: 11px;
    background: #FAFAFA;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #2D2D2D;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: 45px;
}
</style>
