{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" > 

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="{% url 'registrator_list' %}"> 
    <img src="{% static 'ecoIcons/Логотип (light).svg'%}" class="logo d-inline-block align-top" alt="Логотип">
  </a>
  <div class="links">
    <div class="projbutton ml-auto">
      <a href="{% url 'project' %}">Проект</a>
    </div>
    <div class="projbutton ml-auto">
      <a href="{% url 'about-us'%}">Команда</a>
    </div>
  </div>
</nav>