{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">




  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #FFFFFF !important;">
    <a class="navbar-brand" href="/list">
    </a>
    <div class="projbutton ml-auto">
      <a href="/project">Проект</a>
    </div>
    <div class="projbutton ml-auto">
      <a href="/team">Команда</a>
    </div>

  </nav>
  


