{% extends 'base.html' %} 
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>

      </tr>
    </thead>
    <tbody>
        {% for company in companies %}
        <tr>
            <th scope="row">{{ company.id }}</th>
            <td>{{ company.name }}</td>
            <td>{{ company.note1 }}</td>
            <td>{{ company.note2 }}</td>
            <td>{{ company.city }}</td>
            <td><a href="{{company.website}}" >{{ company.website }}</a></td>
          </tr>
{% empty %}
    <tr><td>There are no companies available.</td></tr>
{% endfor %}
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  {% endblock %}