{% extends 'base.html' %} 
{% block content %}
{% include 'companies-sort.html' with form=form %}
 
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Company <i class="bi bi-sort-down"></i></th>
        <th scope="col">Note1</th>
        <th scope="col">Note2</th>
        <th scope="col">City</th>
        <th scope="col">link</th>
        <th scope="col">Pricereg</th>
        <th scope="col">Priceprolong</th>
        <th scope="col">Pricechange</th>        
      </tr>
    </thead>
    <tbody>
        {% for company in companies %}
        <tr>
            <th scope="row">{{ company.id }}</th>
            <td><a href="{% url 'regcomp_details' company.id %}">{{ company.name }}</a></td>
            <td>{{ company.note1 }}</td>
            <td>{{ company.note2 }}</td>
            <td>{{ company.city }}</td>
            <td><a href="{{company.website}}" >{{ company.website }}</a></td>
            <td>{{ company.price_reg }}</td>
            <td>{{ company.price_prolong }}</td>
            <td>{{ company.price_change }}</td>
          </tr>
{% empty %}
    <tr><td>There are no companies available.</td></tr>
{% endfor %}
    </tbody>
  </table>
  {% endblock %}