{% extends 'base.html' %}
{% block content %}
{% include 'companies-sort.html' with form=form %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

<div class="row">
  {% for company in companies %}
    <div class="cards">
      <div class="card">
        <div class="card-body d-flex flex-column justify-content-center">
          <div class="row">
          
            <div class="info-column col-md-3">
              <h5 class="card-title">
                <a href="{% url 'registrator_details' id=company.registrator.id %}">{{ company.registrator.name }}</a>
              </h5>
              {% if not company.parse %}
                <p class="card-text-value parse-date">Добавлено вручную {{ company.updated_at }}</p>
              {% else %}
                <p class="card-text-value parse-date">{{ company.parse.date|date:"SHORT_DATE_FORMAT" }}</p>
              {% endif %}
            </div>

            <div class="col-md-2 city">
              <p class="card-text-title">Город:</p>
              <p class="card-text-value">{{ company.registrator.city }}</p>
            </div>
            <div class="col-md-2">
              <p class="card-text-title">Регистрация:</p>
              {% if company.reg_status == "A" %}
                <p class="card-text-value">нет данных</p>
              {% else %}
                <p class="card-text-value">{{ company.price_reg }}</p>
              {% endif %}
            </div>
            <div class="col-md-2">
              <p class="card-text-title" style="margin-right: 20px;">Пролонгация:</p>
              {% if company.prolong_status == "A" %}
                <p class="card-text-value">нет данных</p>
              {% else %}
                <p class="card-text-value">{{ company.price_prolong }}</p>
              {% endif %}
            </div>

            <div class="col-md-3">
              <p class="card-text-title" style="margin-right: 20px;">Перенос:</p>
              {% if company.change_status == "A" %}
                <p class="card-text-value">нет данных</p>
              {% else %}
                <p class="card-text-value">{{ company.price_change }}</p>
              {% endif %}
            </div>
          </div>
          <a href="{{ company.registrator.website }}" class="card-link mt-auto" >Посмотреть на сайте</a>
        </div>
      </div>
    </div>
  {% empty %}
    <div class="col-md-12 empty-list">
      <p>Ничего не найдено.</p>
    </div>
  {% endfor %}
</div>

{% endblock %}